html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', Verdana, sans-serif;
}


h1 {
    font-family: 'Forum', 'Comic Sans MS', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Forum', 'Comic Sans MS', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Forum', 'Comic Sans MS', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
}