*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	width: 100%;	
}

body{
	position: relative;
    background-color:rgb(40, 61, 100);	
}

.wrapper {
    display: flex;
    padding-top: 3em;
    align-items: center;
    justify-content: center;
}

.navigation, .resultsContainer {
    display: flex;
    flex-direction: column;
    align-self:center;
}

.button, .result {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
	padding: 0.3em 0.3em;
	margin: 1.5em;
	color: #F9E3BA;
	text-decoration: none;
	text-align: center;
    display: flex;
    align-items: center;
	justify-content: center;
}

.button:hover{
	background-color: #20a814;
	color:rgb(40, 61, 100);
}

.playField {
    max-width: 960px;
    border: black;
    overflow: hidden;
    height: 448px;
    position:relative;
  
}

.field {
    height: 100%;
}



@media only all and (max-width:700px) {
    .wrapper {
        flex-direction: column-reverse;
        padding-top: 1em;
    }

    .navigation, .resultsContainer {
        flex-direction: row;
        align-items:flex-start;
    }

    .button, .result {
        font-size: 12px;
        padding: 0.3em 0.3em;
        margin: 0.7em;
    }
  



}
